@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-main: "Dosis", sans-serif;
  --font-sub: "Bebas Neue", cursive;
  --font-test: "Montserrat", sans-serif;

  --fs-header: 1.5rem;
  --fs-maintxt: 1.25rem;
  --fs-descr: 1.25rem;
  --fs-intro: 1.75rem;
  --fs-h1: 3.5rem;
  --fs-h2: 2.75rem;
  --fs-h3: 2rem;
  --fs-tech: 1rem;

  --bg-color-main: #262424;
  --text-color-main: #ffffff;
  --text-color-sub: #f5deb3;

  --bs-main: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.25);
}

@media (min-width: 600px) {
  :root {
    --fs-maintxt: 1.5rem;
    --fs-descr: 1.5rem;
  }
}

@media (min-width: 860px) {
  :root {
    --fs-header: 1.5rem;
    --fs-maintxt: 1.5rem;
    --fs-descr: 1.675rem;
    --fs-intro: 2rem;
    --fs-h1: 4rem;
    --fs-h2: 3.375rem;
    --fs-h3: 2rem;
    --fs-tech: 1.25rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color-main);
  font-family: var(--font-main);
  font-size: var(--fs-maintxt);
  margin: 0 auto;
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
  font-family: var(--font-sub);
  font-weight: bolder;
}

h1,
h2,
h3 {
  color: var(--text-color-sub);
}

h1 {
  font-size: var(--fs-h1);
  margin: 1.5em 0 0.75em 0;
}

h2 {
  font-size: var(--fs-h2);
  margin: 0.75em 0 0.75em 0;
}

h3 {
  font-size: var(--fs-h3);
}

p {
  color: var(--text-color-main);
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: bolder;
  color: var(--text-color-sub);
}

/* CUSTOM GENERAL CLASSES */
.btn {
  text-decoration: none;
  font-family: var(--font-sub);
  font-size: 1.5rem;
  color: var(--text-color-sub);
  transition: transform 200ms ease-in-out;
  padding: 0.25em;
  outline: 2px solid var(--text-color-sub);
}

/* ICON COLORING FOR SKILLS SECTION */
.icon-skill {
  margin-right: 0.25em;
}
.icon-css {
  color: #188caf;
}
.icon-javascript {
  color: #eeeb4a;
}
.icon-github {
  color: #f1ebeb;
}
.icon-react {
  color: #60e1f8;
}
.icon-mui {
  color: #0164c8;
}
